* {
    list-style: none;
    text-decoration: none;
    color: white;
    
  }
  
  html, body {
    display: flex;
    flex-direction: column;
    user-select: none;
    pointer-events: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    background-image: 
      linear-gradient(90deg, rgba(40, 40, 40, 0.1) 1px, transparent 1px),
      linear-gradient(rgba(40, 40, 40, 0.1) 1px, transparent 1px);
    background-size: 100px 100px;
  }

@media screen and (min-width: 359px) {
  header {
      position: fixed;
      z-index: 1000;
      background-color: #0c0c0c;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      top: 0;
      left: 0;
      border-bottom: #3e3e3e solid 1px;
    
      .header_main {
        a {
          color: rgba(210, 210, 210);
          background-repeat: no-repeat;
    
          &:hover {
            color: rgba(245, 245, 245);
          }
    
          &:active {
            color: rgba(255, 255, 255);
          }
        }
      }
    
      .header_ul {
        font-family: 'Jaldi', sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-top: 35px;
        width: 100%;
        gap: 150px;
        font-size: 18px;
        pointer-events: all;
        margin-left: -40px;
    
        img {
          width: 30px;
        }
      }

      .header_li1 {
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
        }
      
      .header_main {
          display: none;
      }
  
      .header_li7 {
          display: none;
      }
      .header_li1 img {
          width: 110px;
      }
      .header_li7 img {
          width: 35px;
      }

    .mmenu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../imgs/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        border: none;
        pointer-events: all;
        user-select: auto;
    }
    
    .mmenu:active {
        background-color: rgb(15, 15, 15);
        border-radius: 5px;
    }
    
    .modal {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 50%;
      left: 47%;
      transform: translate(-50%, -50%) scale(0.8);
      background-color: #0d0d0d;
      border: 0.5px solid #3e3e3e;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      background-image: 
        linear-gradient(90deg, rgba(40, 40, 40, 0.1) 1px, transparent 1px),
        linear-gradient(rgba(40, 40, 40, 0.1) 1px, transparent 1px);
      background-size: 50px 50px;
      text-align: center;
    }
    
    .modal.active {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }
    
    .modal.closing {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }    
    
    .modal.is-hidden {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }    
    
    .modal-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .modal-context {
      position: fixed;
      top: 30%;
      left: 43%;
      font-size: 20px;
      margin-top: 10%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .close-btn {
      font-size: 27px;
      background: none;
      border: none;
      position: absolute;
      top: 3%;
      right: 7%;
    }
  }

  .main {
    margin-top: 2000px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  } .name {
    font-size: 23px;
  } p {
    font-family: "Gabarito", sans-serif;
    font-size: 17px;
  }

  .prr {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    font-size: 10px;
    margin-top: 40px;

    .pr13 {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }

    .pr23 {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }

    .pr33 {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }

    .pr1, .pr2, .pr3, .pr4, .pr5, .pr6, .pr7, .pr8, .pr9 {
      margin-top: 10px;
      font-size: 10px;
      pointer-events: all;
      background-color: #101010;
      border-radius: 25px;
      width: 200px;
      height: 270px;
      transition-duration: 100ms;
      border: none;

      img {
        margin-top: -10px;
        width: 160px;
        border-radius: 10px;
        user-select: none;
        pointer-events: none;
      }

      &:hover {
        background-color: #121212;
        border: #3e3e3e solid 1px;
        transform: scale(1.013);
      }
    }
  }
}


@media screen and (min-width: 639px) {
    header {
        position: fixed;
        z-index: 1000;
        background-color: #0c0c0c;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        top: 0;
        left: 0;
        border-bottom: #3e3e3e solid 1px;
      
        .header_main {
          a {
            color: rgba(210, 210, 210);
            background-repeat: no-repeat;
      
            &:hover {
              color: rgba(245, 245, 245);
            }
      
            &:active {
              color: rgba(255, 255, 255);
            }
          }
        }
      
        .header_ul {
          font-family: 'Jaldi', sans-serif;
          font-weight: 400;
          display: flex;
          justify-content: center;
          margin-top: 35px;
          width: 100%;
          gap: 300px;
          font-size: 18px;
          pointer-events: all;
          margin-left: -40px;
      
          img {
            width: 30px;
          }
        }

        .header_li1 {
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
          }
        
        .header_main {
            display: none;
        }
    
        .header_li7 {
            display: none;
        }
        .header_li1 img {
            width: 110px;
        }
        .header_li7 img {
            width: 35px;
        }

      .mmenu {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: url(../imgs/menu.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 50px;
          border: none;
          pointer-events: all;
          user-select: auto;
      }
      
      .mmenu:active {
          background-color: rgb(15, 15, 15);
          border-radius: 5px;
      }
      
      .modal {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        background-color: #0d0d0d;
        border: 0.5px solid #3e3e3e;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        background-image: 
          linear-gradient(90deg, rgba(40, 40, 40, 0.1) 1px, transparent 1px),
          linear-gradient(rgba(40, 40, 40, 0.1) 1px, transparent 1px);
        background-size: 50px 50px;
        text-align: center;
      }
      
      .modal.active {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
      }
      
      .modal.closing {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
      }    
      
      .modal.is-hidden {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      }    
      
      .modal-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .modal-context {
        position: fixed;
        top: 30%;
        left: 43%;
        font-size: 21px;
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .close-btn {
        font-size: 27px;
        background: none;
        border: none;
        position: absolute;
        top: 3%;
        right: 7%;
      }
    }
}


@media screen and (min-width: 1079px) {
  header {
      position: fixed;
      z-index: 1000;
      background-color: #0c0c0c;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      top: 0;
      left: 0;
      border-bottom: #3e3e3e solid 1px;
    
      .header_main {
        a {
          color: rgba(210, 210, 210);
          background-repeat: no-repeat;
    
          &:hover {
            color: rgba(245, 245, 245);
          }
    
          &:active {
            color: rgba(255, 255, 255);
          }
        }
      }
    
      .header_ul {
        font-family: 'Jaldi', sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-top: 35px;
        width: 100%;
        gap: 300px;
        font-size: 18px;
        pointer-events: all;
        margin-left: -40px;
    
        img {
          width: 30px;
        }
      }

      .header_li1 {
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
        }
      
      .header_main {
          display: none;
      }
  
      .header_li7 {
          display: none;
      }
      .header_li1 img {
          width: 110px;
      }
      .header_li7 img {
          width: 35px;
      }

    .mmenu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../imgs/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        border: none;
        pointer-events: all;
        user-select: auto;
    }
    
    .mmenu:active {
        background-color: rgb(15, 15, 15);
        border-radius: 5px;
    }
    
    .modal {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      background-color: #0d0d0d;
      border: 0.5px solid #3e3e3e;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      background-image: 
        linear-gradient(90deg, rgba(40, 40, 40, 0.1) 1px, transparent 1px),
        linear-gradient(rgba(40, 40, 40, 0.1) 1px, transparent 1px);
      background-size: 50px 50px;
      text-align: center;
    }
    
    .modal.active {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }
    
    .modal.closing {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }    
    
    .modal.is-hidden {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }    
    
    .modal-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .modal-context {
      position: fixed;
      top: 23%;
      left: 46%;
      font-size: 23px;
      margin-top: 10%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .close-btn {
      font-size: 27px;
      background: none;
      border: none;
      position: absolute;
      top: 3%;
      right: 7%;
    }
  }

  .main {
    margin-top: 550px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } .name {
    font-size: 25px;
  } p {
    font-family: "Gabarito", sans-serif;
    font-size: 17px;
  }

  .prr {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    font-size: 10px;
    margin-top: 40px;

    .pr13 {
      gap: 30px;
      display: flex;
      flex-direction: row;
    }

    .pr23 {
      gap: 30px;
      display: flex;
      flex-direction: row;
    }

    .pr33 {
      gap: 30px;
      display: flex;
      flex-direction: row;
    }

    .pr1, .pr2, .pr3, .pr4, .pr5, .pr6, .pr7, .pr8, .pr9 {
      margin-top: -30px;
      font-size: 10px;
      pointer-events: all;
      background-color: #101010;
      border-radius: 25px;
      width: 250px;
      height: 330px;
      transition-duration: 100ms;
      border: none;

      img {
        margin-top: -10px;
        width: 200px;
        border-radius: 10px;
        user-select: none;
        pointer-events: none;
      }

      &:hover {
        background-color: #121212;
        border: #3e3e3e solid 1px;
        transform: scale(1.013);
      }
    }
  }
}

@media screen and (min-width: 1439px) {
  header {
    position: fixed;
    z-index: 100;
    background-color: #0c0c0c;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 0;
    border-bottom: #3e3e3e solid 2px;
  
    .header_main {
      a {
        color: rgba(210, 210, 210);
        background-repeat: no-repeat;
  
        &:hover {
          color: rgba(245, 245, 245);
        }
  
        &:active {
          color: rgba(255, 255, 255);
        }
      }
    }
  
    .header_ul {
      font-family: 'Jaldi', sans-serif;
      font-weight: 400;
      display: flex;
      justify-content: center;
      gap: 300px;
      margin-top: 35px;
      width: 100%;
      font-size: 18px;
      pointer-events: all;
  
      img {
        width: 30px;
      }
    }
  
    .header_main {
      display: flex;
      align-items: center;
      margin-left: -60px;
      margin-top: -5px;
      gap: 30px;
    }
  
    .header_li1, .header_li7 {
      display: flex;
      align-items: center;
    }

    .header_li7 {
      margin-top: 10px;
      pointer-events: all;
      user-select: all;
      background: url(../imgs/login_icon.svg);
      background-size: 37px;
      border: none;
      width: 37px;
      height: 37px;
      background-repeat: no-repeat;
    }

    .header_li1 img {
        width: 110px;
    }

    .mmenu {
      display: none;
    }
  }

  .main {
    margin-top: 350px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } p {
    font-family: "Gabarito", sans-serif;
    font-size: 17px;
  }

  .prr {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    font-size: 10px;
    margin-top: 40px;

    .pr13 {
      gap: 30px;
      display: flex;
      flex-direction: row;
    }

    .pr23 {
      gap: 30px;
      display: flex;
      flex-direction: row;
    }

    .pr33 {
      gap: 30px;
      display: flex;
      flex-direction: row;
    }

    .pr1, .pr2, .pr3, .pr4, .pr5, .pr6, .pr7, .pr8, .pr9 {
      margin-top: -30px;
      pointer-events: all;
      background-color: #101010;
      border-radius: 25px;
      width: 250px;
      height: 330px;
      transition-duration: 100ms;
      border: none;

      img {
        margin-top: -10px;
        width: 200px;
        border-radius: 10px;
        user-select: none;
        pointer-events: none;
      }

      &:hover {
        background-color: #121212;
        border: #3e3e3e solid 1px;
        transform: scale(1.013);
      }
    }
  }
}